nav {
  width: 100%;
  background-color: #D3D0CB;
  /* text-align: center; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 1%;
  color: #072535;
}

button{
  background-color: #9FB1BC;
  border-radius: .5em;
  margin-top: 30%;
  padding-top: 11%;
  font-size: 150%;
  font-weight: bolder;
}

#posts-container {
  padding-top: 11%;
  padding-left: 55%;
}

.fixed-nav nav {
  position: fixed;
  top:0;
  z-index: 1;
}

body {
  /* background-color: teal; */
  background-image: url("https://i.pinimg.com/originals/36/96/8c/36968c6cce7610f295d01bb38bbf213b.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 200px;
  color: #072535;
}

/* .welcome {
  vertical-align: middle;
} */

.flip-card {
  background-color: transparent;
  width: 280px;
  height: 395px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  text-align: center;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/*
.image {
  height: 25vh;
} */

.ui.card, .ui.cards>.card {
  height: 120%;
  width: 300%;
}

/* We want this not on flip card hover, but on our comment click*/
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.ui.card>.image>img, .ui.cards>.card>.image>img {
  height: 200px;
}

.flipper .flip-card-inner{
  /* background-color: #45CEE0; */
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #F0F7EE;
  color: black;
  transform: rotateY(180deg);
  height: 100%;
  border: outset;
  border-width: medium;
  border-color: #C4D7F2;
}

.flip-card-back h1 {
  color: #254151;
  font-family: 'Shadows Into Light', cursive;
}

.flip-card-front h1 {
  font-family: 'Shadows Into Light', cursive;
}

.form-container {
  border-style: outset;
  border-width: 3px;
  width: 95%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
}

.scroll {
  overflow: scroll;
}
/*
.ui .card {
  width: inherit;
  height: inherit;
} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ui.card, .ui.cards>.card {
  background-color: #F0F7EE;
  width: inherit;
  height: inherit;
}

.header {
  font-family: 'Indie Flower', cursive;
  vertical-align: middle;
  font-size: 600%;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background: rgba(51, 62, 72, 0.9);
  height: 60px;
  align-items: right;
  align-content: right;
  position: inherit;
  /* margin-left: 35%; */
}

.ui.secondary.inverted.menu {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.header-butt {
  display: flex;
}

.cat-butt {
  height: 50px;
  width: 50px;
}

.cat-butt:hover {
    animation: shake 0.6s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
}
